.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__timestamp {
  color: grey;
  font-weight: 300;
}
.message__info {
  padding-left: 10px;
}


.user__photo {
    border-radius: 300px;
}